name: Backend CI (Dockerized)

on:
  push:
    branches: [ "main" ]
    paths:
      - 'backend/**'
      - 'docker-compose.yml'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'backend/**'
      - 'docker-compose.yml'

jobs:
  docker-integration-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4


    - name: Run Integration Tests via Docker Compose
      run: docker compose up --build --exit-code-from tests tests

    - name: Teardown
      if: always() 
      run: docker compose down